
.maindiv{
    height: Auto;
    width: 700px;
    margin: auto;
    padding: 5px;
}
h1{
    text-align: center;
  
    color: white;
    padding-bottom:5px;
    padding-top: 3px;

}
h2{
    text-align: center;
    padding: 15px 0;
    color: white;
    
    display: block;
    margin: 10px 0;

}

h4{
    
    padding: 15px 0;
    display: block;
    margin: 10px 0;

}
h5{
    text-align: center;
    background: rgb(247, 167, 97);
    color: white; 
    padding-top: 5px;
    padding-bottom:7px;
    font-size: 15px;
}

.submit{
    color: white;
    background: green;
    text-align: center;
    font-size: 15px;
 
}
.reset{
    color: green;
    background: green;
   
    font-size: 15px;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 15px;
    color: blue;
    margin: 8px 0 0 0;
    display: inline-block;

}

small{
    margin: 20px 0 0 0;
    background-color: darkslategrey;
    color: white;
    display: block;
    text-align: center;
    padding: 7px 0;
}


/* case 1 */


* {
    margin: 0px;
    font-family: bold  "Encode Sans SC", sans-serif ;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  
  }
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  
  #Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle(50% at 50% 50%);
   height: 100px;
  }
  p{
      padding: 30px;
      color: rgb(0, 0, 0);
    
  }
  .BEname,.Bname{
      text-align: center;
  }
  
  .input_text{
    font-size: 30%;
    /* padding: 30px; */
  }
  .big{
      padding:30px ;
  }
  .Email,.name,.Subject{
  width: 100%;
  color: rgb(0, 0, 0);
  }
  #Message{
    width: 100%;
   color: rgb(0, 0, 0);
  }
  .submit,.reset{
  color: rgb(68, 105, 138);
  background-color: rgb(46, 207, 100) ;
  height: 70px;
  border-radius:10px ;
  text-align: center;
  font-size: 15px;
    border-style: none;
}
  input,textarea{
   padding:20px ;
   text-align: center;
    width: 700px;
    height:10px ;
    background-color: #bccfcb;  
  }

  input[type="submit"]{
    background-color: rgb(46, 207, 100) ;
    color: rgb(219, 215, 215);
    border-radius: 10px;
    cursor: inherit;
    width: 100%;
    border: none;
  }
  input[type="submit"]:hover,input[type="reset"]:hover{
  
    background: rgb(121, 211, 31);
  } 

.app{
    height: 70px;
    
}



  






